body {
    padding: 0px;
    margin: 0px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.hd_ctn {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    background-color: #C5FCC8;
}

div[class^=bg_clr_] {
    -webkit-transform: skewX(170deg);
            transform: skewX(170deg);
    height: 100vh;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.bg_clr_1 {
    background-color: #F49C9C;
}

.bg_clr_2 {
    background-color: #EA9DF6;
}

.bg_clr_3 {
    background-color: #ACF5F6;
}

.bg_clr_4 {
    background-color: #ADF9B6;
}

.bg_clr_5 {
    background-color: #E2EF96;
}

.lg_ctn {
    position: absolute;
    top: 0px;
    width: 100vw;
}

.lg_wd {
    position: static;
    height: 15vh;
    font-size: 10vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.m_ctn {
    position:absolute;
    top:15vh;
    width: 100vw;
    height: 85vh;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.m_mp{
    background-color: rgba(255,255,255,0.7);
    width:70vw;
    height:85vh;
    border-radius:20px 20px 0px 0px;
    overflow:auto;
}
.m_pr{
    margin:50px;
}
.pr_hd{
    font-size:23px;
    font-weight: bold;
}
.pr_mn{
    padding:10px;
    padding-bottom:40px;
    text-indent:40px;
    font-size: 18px;
    line-height: 30px;
}
.ln_tr{
    text-decoration: line-through;
}